@model GraduateSubmissionsMVC.Models.DepartmentModel
@{
	ViewBag.Title = "Delete Department";
}
<h2>
	Delete @Html.DisplayFor(model => model.Name)?</h2>
@using (Html.BeginForm()) {
	<table class="centered-table editor-box">
		<tr>
			<td>
				<input type="submit" value="Delete" />
			</td>
		</tr>
	</table>
}
<p>@Html.ActionLink("Back", "Index")</p>
