@model GraduateSubmissionsMVC.Models.DepartmentModel

@{
    ViewBag.Title = "Department Details";
}

<h2>Details</h2>

<div class="editor-box">

    Name:@Html.DisplayFor(model => model.Name)
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
