@model GraduateSubmissionsMVC.Models.General.TermModel
@{
	ViewBag.Title = "Delete Term";
}
<h2>
	Delete @Html.DisplayFor(model => model.Name) @Html.DisplayFor(model => model.Date)?</h2>
@using (Html.BeginForm()) {
	<table class="editor-box centered-table">
		<tr>
			<td>
				<input type="submit" value="Delete" />
			</td>
		</tr>
	</table>
}
<p>
	@Html.ActionLink("Back", "Index")
</p>
