@model GraduateSubmissionsMVC.Models.General.TermModel

@{
    ViewBag.Title = "Delete Term";
}

<h2>Delete Term</h2>

<h3 style="text-align:center">Are you sure you want to delete this?</h3>
<div class="editor-box">
                Name:  @Html.DisplayFor(model => model.Name)
                <br />
                Date:  @Html.DisplayFor(model => model.Date)

@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /><br /><br />
    </p>
}
</div>
<p>
        @Html.ActionLink("Back to List", "Index")
</p>