@model GraduateSubmissionsMVC.Models.General.TermModel

@{
    ViewBag.Title = "Term Details";
}

<h2>Term Details</h2>

 <div class="editor-box">
                Name:  @Html.DisplayFor(model => model.Name)
                <br />
                Date:  @Html.DisplayFor(model => model.Date)
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
